{% extends "layout.html" %}
{% block content %}

<div class="health-solutions">
    <div id="sol-health" class="mdc-card">
        <!-- ... content ... -->
        <h2>Entertainment industry </h2>
        <h4>Introduction</h4>
        <div class="till">
            The ban of gatherings is affecting and crushing the entertainment industry so hard from
            artists,theaters,sports among others.
            <p>
                Businesses in this industry will have to rethink ways they will operate in the next 12-18 months with
                limited gathering new regulations.

            </p>
            <!-- <p><b>Note</b> <br>
  Businesses that had already invested in digital 
  infrastructure channels of reaching their customers 
  have more opportunity over their competitors.
</p> -->
        </div>
    </div>

    <div id="model-4" class="mdc-card">
        <div class="words">
            <h2>Business model hacks for Supply chain.</h2>
            <h4>1. Virtual/digital performances as a value proposition</h4>
            <div class="till">
                As boredom and frustration consume people during the lockdown there is a rising demand for virtual
                entertainment.Companies that have been in physical entertainment or gathering have to start identifying
                which of their services can go online and which ones will stay offline.
                <p>
                    <ul>
                        <li>Pre-recording as an activity will be key in executing such an offering.
                        </li>
                        <li>
                            Subscription platform as a resource and revenue.
                        </li>
                        <li>
                            Virtual reality technology will be a trend to consider.
                        </li>
                        <li>
                            Codifying the business model will be required on such offerings.
                        </li>
                    </ul>
                </p>
               

                <p><b> What to validate ?</b> <br>
                    Identify the immediate demands that can be offered online<br>
                    Infrastructure to take the services online.<br>
                    How to curry the physical experience online.<br>
                    How to create a community of online consumers? <br>
                    Test pricing and tactics to lock in customers online and offline
                </p>

            </div>
        </div>
        <div class="clicking-3">
            <button id="long-3" class="mdc-button">
                <a href="{{ url_for('new_post') }}">Ask</a>
            </button>
            <button id="long-3" class="mdc-button">
                <a href="{{ url_for('new_post') }}">Improve</a>
            </button>
        </div>


    </div>

</div>



{% endblock content%}