{% extends "layout.html" %} {% block content %}

<div class="container align-items-center">
  <div class="card shadow mt-4 mb-3 p-3 col-md-8 offset-md-2">
    <!-- ... content ... -->
    <h2 class="text-center">MOBILITY INDUSTRY</h2>
    <h4>Introduction</h4>
    <div class="till">
      The transport industry stands as the second crucial industry amidst this
      crisis,with public means of transport banned there are a few private
      companies like taxify,safeboda among others that are authorized to conduct
      business specifically for deliveries. (As of Uganda's COVID 19
      restrictions and rules).
      <p>
        Safeboda is a motorcycle transport facilitator hinged on safety,trust
        and convenience.Leveraging on their existing infrastructure and using a
        proactive intelligence approach they added other services like Cashless
        transactions,package delivery, Airtime purchase and food delivery.
      </p>
      <p>
        <b>New offering :</b> As everyone was panicking,Safeboda was
        restructuring to be relevant during the crisis.They added new features
        like shopping which is on a high market demand.
      </p>
      <p>
        <b>Market response :</b>Due to the increased market demand of delivery
        and merchandise shopping vs the decline in demand for passenger services
        , Safeboda altered the order on the UI and brought food,shop and package
        delivery as the first priorities..
      </p>
      <!-- <p><b>Note</b> <br>
  Businesses that had already invested in digital 
  infrastructure channels of reaching their customers 
  have more opportunity over their competitors.
</p> -->
    </div>
  </div>

  <div class="card shadow mt-4 mb-3 p-3 col-md-8 offset-md-2">
    <div class="words">
      <h2>Business model hacks for health.</h2>
      <h4>1. Bike sharing</h4>
      <div class="till">
        With the ban on private cars,motorcycle passenger travels and public
        transport there is an opportunity for business in bike sharing
        businesses. <br />
        Business owners with a stock(inventory) of bikes and platform developers
        could collaborate to have a platform where one can search and hire a
        nearby bike to take themselves for shopping or any urgent needs. <br />
        One can benchmark on available bike sharing business models like
        Anywheel,Mobike,SG bike,Ofo among others.
        <p>
          <b>NOTE</b> <br />
          The ban of public transport and other transport means isn't
          permanent,soon the usual transport means will resume, but leveraging
          on the effect of the crisis to launch Asap is a smart move. One has to
          consider exploring more pains around the offering and providing long
          term value propositions beyond the crisis.
        </p>
        <p>
          <b>Resources and activities</b> <br />
          Platform <br />
          Inventory of Bikes <br />
          Cautious and safe bike sharing process amidst the crisis. <br />
          Partnership between Bike sellers/owners and Platform owners. <br />
          Bike safety measures<br />
        </p>
        <p>
          <b>Business model trends</b> <br />
          Scanning technology like QR code scanning. <br />
          IOT technology <br />
          Artificial intelligence <br />
          Big data
        </p>
        <p>
          <b>Business model Characteristics</b> <br />
          Sharing economy <br />
          Proximity servicing<br />
          Duration and distance pricing <br />
        </p>

        <p>
          <b> Business opportunities</b> <br />
          Exploring other market demands,identify other pains in commuting to
          work in urban areas especially in the morning and evening traffic jam.
          <br />
          Explore health benefits of exercising on bikes and create different
          packages for bike sharing. <br />
          Bicycle riding uses minimal fossil fuels and is a pollution-free mode
          of transport called green travel which tacklesSDG Goal 13 of climate.
          The industry is attracting huge investments opportunities from
          philanthropists,grants,angel and venture capitalists who consider it
          as their investment thesis.
        </p>
        <p>
          <b> What to validate ?</b> <br />
          <b> Feasibility</b> <br />
          Bike safety guarantee <br />
          Platform UI and customer experience.<br />
          IOT development on bikes to create better experiences <br />
          Partnership from bike sellers and owners. <br />
          <br />
          <b>Viability</b> <br />
          Pricing mechanisms considering distance and duration <br />
          Sustainable revenue streams <br />
          <br />
          <b>Desirability</b> <br />
          Need and demand for bike sharing <br />
          Need and demand for other packages like work commuting package,health
          bike riding among others.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button id="long" class="btn btn-block text-center">
          <a href="{{ url_for('new_post') }}">Ask</a>
        </button>
      </div>
      <div class="col-6">
        <button id="long" class="btn btn-block text-center">
          <a href="{{ url_for('new_post') }}">Improve</a>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
