{% extends "layout.html" %}
{% block content %}

<div class="health-solutions">
    <div id="sol-health" class="mdc-card">
        <!-- ... content ... -->
        <h2>Supply chain & Distribution </h2>
        <h4>Introduction</h4>
        <div class="till">
            The supply supply chain and distribution has been crowded of a lot of players lately especially deliveries
            of goods or products.
            <p>
                <b>Jumia</b> has tweaked their business model by adding local market vendors on the platform to enable
                users to order for food items and added a variety of more products.
                Over 20 startups have popped up to offer ordering of food stuff and deliveries during this crisis.

            </p>
            <!-- <p><b>Note</b> <br>
  Businesses that had already invested in digital 
  infrastructure channels of reaching their customers 
  have more opportunity over their competitors.
</p> -->
        </div>
    </div>

    <div id="model-4" class="mdc-card">
        <div class="words">
            <h2>Business model hacks for Supply chain.</h2>
            <h4>1. Open business geolocation </h4>
            <div class="till">
                The crisis presents an opportunity to leverage directory or business listings data,social media
                businesses and offer an open portal where businesses that are open/ in operation during the crisis can
                register..
                <p>
                    <ul>
                        <li>With the creation of a digital platform, people in different locations can search,identify
                            and locate businesses available at specific times conveniently.They can order or preorder
                            products & services close to their current location and cut the risks and costs of delivery.
                        </li>
                        <li>
                            Post covid opportunity is the platform will collect data and give updates on businesses that
                            have recovered and not.
                        </li>
                        <li>
                            Recovered and not businesses can be listed on the platform with their needs and their
                            potential in the post Covid wave inorder to attract investors
                        </li>
                    </ul>
                </p>
                <p><b>Benefits </b> <br>
                    Access of open businesses within your location without risk of movement.
                    <br>
                    Improvement on declining demands for businesses. <br>
                    Platform that identifies businesses that survived the crisis and investment opportunities <br>

                </p>
                <p><b>Business model Trends</b> <br>
                    <br>
                    Big data <br>
                    Crowdsourcing<br>
                    Geolocation technology
                </p>
                <p><b>Business model characteristics</b> <br>
                    Notification


                    <br>
                    Service,product requests or orders<br>
                    Proximity servicing. <br>
                </p>
                <p><b>Resources and activities</b> <br>
                    Data of businesses and their location
                    <br>
                    Platform<br>

                </p>

                <p><b> What to validate ?</b> <br>
                    <b> Feasibility </b> <br>
                    Sourcing operating businesses and their exact locations? <br>
                    Platform customer experience<br>
                    <b>Viability</b> <br>
                    How to make money off the platform ?

                    <br>
                    Pricing tactics in case you charge businesses to register? <br> <br>
                    <b>External factors</b> <br>
                    COVID-19 business restrictiction in your country and area? <br>
                    SOP of businesses in your country and area?
                </p>

            </div>
        </div>
        <div class="clicking-3">
            <button id="long-3" class="mdc-button">
                <a href="{{ url_for('new_post') }}">Ask</a>
            </button>
            <button id="long-3" class="mdc-button">
                <a href="{{ url_for('new_post') }}">Improve</a>
            </button>
        </div>


    </div>
    <div id="model-4" class="mdc-card">
        <div class="words">
            <h2>Business model hacks for Supply chain.</h2>
            <h4>2. Delivery as service with hygiene at core. </h4>
            <div class="till">
                The crisis presents an opportunity to leverage directory or business listings data,social media
                businesses and offer an open portal where businesses that are open/ in operation during the crisis can
                register..Because of the pandemic, Most businesses in retail and food have adopted the delivery service
                of goods to customers,they have also created digital channels to inform customers to pre-order or order
                for goods.
                <p>
                    With the terrifying nature of Covid-19, consumers and organizations are becoming much more careful
                    about the people and products they interact with.Both people and organizations will expect
                    formal/professional proof of hygiene and current health status in;
                </p>

                <p>
                    <ul>
                        <li>Production and packaging goods or products and ensuring they are delivered under the same
                            conditions.
                        </li>
                        <li>
                            The health status of delivery personnels.
                        </li>
                    </ul>
                </p>
                <p>Because of the two factors, its presents an opportunity to;<br>
                    Packaging and business operations that ensure proper hygiene and non contamination from the virus.

                    <br>
                    A platform that has capability of health real time monitoring of delivery personnel and means that
                    real time information has to be transferred to the customer to guarantee safety.
                    <br>


                </p>




                <p><b> What to validate ?</b> <br>

                    Infrastructure for hygiene in packing and delivery? <br>
                </p>

            </div>
        </div>
        <div class="clicking-3">
            <button id="long-3" class="mdc-button">
                <a href="{{ url_for('new_post') }}">Ask</a>
            </button>
            <button id="long-3" class="mdc-button">
                <a href="{{ url_for('new_post') }}">Improve</a>
            </button>
        </div>


    </div>

</div>



{% endblock content%}